#############
## WEBSTORM
#############

.idea/

#############
## OSX
#############

.DS_Store


#############
## PROJECT
#############

upload/
node_modules/
npm-debug.log

app/config.js
app/server/config/instagramusers.json