#############
## WEBSTORM
#############

.idea/

#############
## OSX
#############

.DS_Store


#############
## PROJECT
#############

upload/
node_modules/
npm-debug.log

coverage/

app/config.js
app/server/config/*.json