<div class="container" style="text-align:center;">
    <div style="margin: 20px auto;">
        <% if (medias.length === 1) { %>
            <span style="font-size: 20px;">1 new picture</span>
        <% } else { %>
            <span><%=medias.length%> new pictures</span>
        <% } %>
    </div>
    <% _.each(medias, function (media) { %>
        <div class="image-container" style="margin: 8px auto;">
            <a href="<%=media.images.standard_resolution.url%>" title="<%=media.caption.text%>"><img src="<%=media.images.standard_resolution.url%>" /></a>
        </div>
        <div style="color: #666666; margin-bottom: 8px;">
            <span style="font-size: 16px;"><%=media.caption.text%></span>
        </div>
    <% }); %>
</div>